#loggit {
  background: url(../img/login.png);
  padding: 20px 40px;
  border-radius: 20px 20px 20px 20px;
  bottomorder: 0px solid #000000;
  //px 2px rgba(0,51,255,0.5);
  margin-top: 100px;

}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#loggit h1 {
  text-align: center;
  font-weight: 700;
  margin: 5px 0 15px;
}
#loggit h3 {
  text-align: center;
  font-size: 18px;
  color: #bbb;
  margin: 0 0 20px;
}
body{
  color: #fff;
  font-family: "Open Sans",sans-serif;
  
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
