/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -280px;
  }

  .row-offcanvas-left.active {
    left: 280px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 280px;
    margin-left: 0px;
  }
}